@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .t-input {
        @apply w-full p-3 rounded-md focus:outline-none 
    }

    .t-btn {
        @apply m-2 px-8 py-2 drop-shadow-md shadow-md bg-white rounded-lg text-black hover:shadow-inner hover:bg-white hover:text-black focus:ring-2 focus:ring-indigo-200 flex justify-center items-center space-x-2 cursor-pointer
    }

    .t-nav-items {
        @apply w-96 h-64 rounded-lg drop-shadow-md border-none bg-white hover:scale-110 duration-75 ease-in-out cursor-pointer
    }
}

html {
    font-family: "Circular Std Book", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.animate-neon:hover {
    animation: neon 1s ease-in-out infinite alternate;
  }
  
  @keyframes neon {
    from {
      opacity: 0;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #fff, 0 0 14px #fff;
    }
    to {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #f40, 0 0 10px #f40, 0 0 12px #f40, 0 0 14px #f40;
    }
  }
  
  